
.container {
  width: 100px;
  height: 30px;
  background-color: cadetblue;
  border-radius: 100px;
  transition: all .8s ease;
  position: relative;
}
.circle {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  left: 4px;
  top: 3px;
  position: absolute;
  transition: all .8s ease;
  cursor: pointer;
}
